<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head') %>
    <body>
        <%- include('layouts/navbar') %>
        <%- include('layouts/pageHeader') %>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <% if(locals.warning) { %>
                                <ul class="list-group">
                                    <% for(var i = 0; i < warning.length; i ++){ %>
                                        <li class="list-group-item list-group-item-warning mb-1"><%= warning[i] %></li>
                                    <% } %>
                                </ul>
                            <% } %>
                            <h3>Parse MD file</h3>
                            <form class="mt-3" action="/post/select_images" method="post" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="mdFile" class="form-label">Markdown File</label>
                                    <input class="form-control" type="file" id="mdFile" name="mdFile" accept=".md">
                                </div>
                                <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Parse</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('layouts/footer') %>
        <%- include('layouts/scripts') %>
    </body>
</html>
